body {

background-color: #BA91AC;

}

.btn1 {
	outline: none;


-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-transition: all 0.5s ease-in-out;

}

.bcc {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 30px 0px;
  opacity: 0.8;

-webkit-transition: all 0.5s linear 0.5s;
-moz-transition: all 0.5s linear 0.5s;
-o-transition: all 0.5s linear 0.5s;
-transition: all 0.5s linear 0.5s;



}


a.bcc:hover { 
	background-color: ##937E9C;
	opacity:0.5;
	padding: 20px 20px 10px 10px; 
	text-align: center;	

}


a.bcc:active {
	background-color: #EAED41;
	opacity: 0.5;
	color: #F3893C;
}


.button {
	color: pink;
	text-decoration: none;
	border: 10px double;
	background-color: #3CABF3;
	padding: 2px 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 18px;
  	margin: 30px 0px;


-webkit-transition: all 0.3s linear 0.5s;
-moz-transition: all 0.3s linear 0.5s;
-o-transition: all 0.3s linear 0.5s;
-transition: all 0.3s linear 0.5s;
}

.button:hover {

	background-color: pink;
	color: #3CABF3;
	font-size: 30px;
	opacity: 0.5;
}

.button:active {
	border: 5px dotted;
	opacity: 1;
	
}
